{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Katalog kart QSL</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Moje karty QSL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-info btn-md" href="{% url "qsl_add" %}">+ Nowa QSL</a>
          </li>
          <li class="nav-item"></li>
          <li class="nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'qsl_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-warning btn-md" href="{% url 'logout' %}">Wyloguj {{ user.username }}</a>
          {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            <a href="{% url 'rejestracja' %}" class="top-menu"><span class="glyphicon glyphicon-tower"></span></a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" id="app">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
